[user]
	name = ☀ Prem Pillai (@premjg)
	email = prem.pillai@gmail.com
[color]
	ui = true
[alias]
    st = status
    sb = status -s -b
    #############
    d = diff
    dc = diff --cached
    dk = diff --check
    dck = diff --cached --check
    #############
    ls = log --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --decorate
    lg = log --oneline --graph --decorate
    #############
    human = name-rev --name-only --refs=refs/heads/*
    co = checkout
    ci = commit -v
    ad = add -p
    p = push
    oops = reset --soft HEAD^1
[core]
	filemode = false
	editor = /usr/bin/vim
[rerere]
	enabled = true
[merge]
    tool = vimdiff
      defaultToUpstream = true
[push]
    default = tracking
[branch]
	autosetuprebase = always
